<section class="hero is-link is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <%= link_to root_path, class: "navbar-item" do %>
                    <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.20517 27.9063C5.08175 27.9063 5.77049 27.2175 5.77049 26.341C5.77049 21.4259 9.7777 17.3873 14.7241 17.3873C19.6392 17.3873 23.6777 21.3946 23.6777 26.341C23.6777 27.2175 24.3665 27.9063 25.243 27.9063C26.1196 27.9063 26.8083 27.2175 26.8083 26.341C26.8083 19.6727 21.3924 14.2567 14.7241 14.2567C8.05585 14.2567 2.63986 19.6727 2.63986 26.341C2.63986 27.1862 3.3599 27.9063 4.20517 27.9063Z" fill="white"/>
<path d="M2.01393 27.9063H27.4347C28.3113 27.9063 29 27.2175 29 26.341C29 25.4644 28.3113 24.7756 27.4347 24.7756H1.98263C1.10605 24.7756 0.417312 25.4644 0.417312 26.341C0.417312 27.2175 1.13736 27.9063 2.01393 27.9063Z" fill="white"/>
<path d="M14.7245 16.7925C15.6011 16.7925 16.2898 16.1038 16.2898 15.2272V13.9749C16.2898 13.0983 15.6011 12.4096 14.7245 12.4096C13.8479 12.4096 13.1592 13.0983 13.1592 13.9749V15.2272C13.1592 16.0724 13.8479 16.7925 14.7245 16.7925Z" fill="white"/>
<path d="M4.8627 16.1038C5.26968 16.1038 5.67666 15.9472 5.95842 15.6342L8.24378 13.3488C8.86991 12.7227 8.86991 11.7522 8.24378 11.126L6.17756 9.05983L6.24018 8.99722C6.8663 8.37109 6.8663 7.40059 6.24018 6.77447C5.61405 6.14834 4.64355 6.14834 4.01743 6.77447L2.85909 7.9328C2.57733 8.21456 2.3895 8.62154 2.3895 9.02852C2.3895 9.4355 2.54603 9.84249 2.85909 10.1242L4.92531 12.1905L3.73567 13.3801C3.10954 14.0062 3.10954 14.9767 3.73567 15.6029C4.04873 15.9472 4.45572 16.1038 4.8627 16.1038Z" fill="white"/>
<path d="M14.0043 10.6878C14.4113 10.6878 14.8183 10.5313 15.1 10.2182L17.3854 7.93284C18.0115 7.30672 18.0115 6.33622 17.3854 5.71009L15.3192 3.64387L15.3818 3.58126C16.0079 2.95513 16.0079 1.98464 15.3818 1.35851C14.7557 0.732384 13.7852 0.732384 13.159 1.35851L12.0007 2.51685C11.7189 2.7986 11.5311 3.20559 11.5311 3.61257C11.5311 4.01955 11.6876 4.42653 12.0007 4.70829L14.0982 6.83712L12.9086 8.02676C12.2825 8.65289 12.2825 9.62339 12.9086 10.2495C13.2216 10.5313 13.6286 10.6878 14.0043 10.6878Z" fill="white"/>
</svg>


                        <span class="has-text-weight-bold is-size-4 ml-4">Foodlog</span>
                    <% end %>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <%= link_to "Create new entry" , new_entry_path, class:"button is-success"%>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                <% if content_for(:title)%>
                    <%= yield :title %>
                        <% else %>
                            Foodlog
                            <% end %>
            </p>
        </div>
    </div>
</section>